.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  color: #525354;
}

.container__left-side,
.container__right-side {
  display: flex;
  flex-direction: column;
}

.profile-info {
  margin-bottom: 31px;
}

.profile-info--last {
  margin-bottom: 0;
}

.profile-info__photo {
  border-radius: 100%;
}

.profile-info__name {
  margin: 0 auto;
  font-weight: bold;
  font-size: 21px;
  margin-top: 22px;
  color: #f68e72;
}

.profile-info__line-item {
  margin-bottom: 24px;
}

.profile-info__line-item--last {
  margin-bottom: 0;
}

.profile-info__text {
  margin-left: 10px;
}

.profile-info__icon {
  font-size: 28px;
}

.profile-info__header {
  font-weight: bold;
}

.profile-info__header,
.profile-info__dot--filled {
  color: #f68e72;
}

.profile-info__dot {
  margin-right: 14px;
}

.profile-info__dot--last {
  margin-right: 0;
}

.profile-info__dots {
  font-size: 13px;
  color: #cfcfcf;
}

.profile-info__language {
  margin-bottom: 7px;
}

.profile-info__hobbies-icons {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}
